*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: azure;
}
.video-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -1;
}

.video-background {
    position: relative;
    /* width: 100%;
    height: 100vh; */
    overflow: hidden; 
    /* background-color: black; */
}
h1{
    margin-top: 2rem;
 display: flex;
 justify-content: center;
 font-size: 3rem;
font-family: "Diplomata SC", serif;;
}
.content{
    /* background-color: red; */
    width: 85%;
    padding: 10px;
    position: relative;
    margin-left: 50px ;
}
#backgroundVideo {
    position: absolute;
    /* transform: translate(-10%,-10%); */
    width: 100%;
    height: 100%; 
    z-index: -1; 
    object-fit: contain; /* Ensures the video covers the entire area */
}
.box{
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    border: 3px solid azure;
    box-shadow: 0 0 10px 5px goldenrod;     
    justify-content: center;
    align-items: center;  
     /* margin: auto; */
    padding: 20px;
    margin-bottom: 20px;
    animation: box_move 3s linear forwards;
    opacity: 2;
}
@keyframes box_move {
    0%{
        opacity: 0;
        transform: translateY(-300px);
    }   
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.box h2{
    font-family: "Diplomata SC", serif;
    font-weight: 400;
    font-style: normal;
}   
 .box:hover{
    cursor: pointer;
    opacity: 5;
    transform: scale(1.05);
    box-shadow: 0 0 20px 10px goldenrod;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.content:nth-child(even)::before{
    content: "";
    position:absolute;
    height: 20px;
    width: 20px;
    background: linear-gradient(goldenrod,azure);
    border-radius: 10px;
    top: 0;
    left: -3.8%;
   z-index: 10;
   animation: box_move 3s linear forwards;
}
.content:nth-child(odd)::before{
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background: linear-gradient(goldenrod,azure);
    border-radius: 10px;
    top: 0;
   left: 55%;
   z-index: 1;
   animation: box_move 3s linear forwards;
}
#timeLine > .content:nth-child(even) {
    /* right: 50%; */
    left: 50%;
}
#timeLine{
    position: relative;
    margin: 100px auto;
    /* top: 50%; */
    width: 75%;
    /* transform: translateY(-30%); */

}
#timeLine::after{
    content: "";
    position:absolute;
    left: 50.4%;
    width: 5px;
    height: 100%;
    top: 0;
    background: linear-gradient(azure, goldenrod);
    z-index: -1;
    transform: translateX(400%);
    /* animation: vertical_move 3s  linear forwards; */
    animation: vertical_move 3s linear forwards, color_change 3s linear infinite;
}
@keyframes vertical_move{

    0% {
        background: linear-gradient(azure, goldenrod);
        opacity: 0;
    }
    50% {
        background: linear-gradient(goldenrod, azure);
    }
    100%{
        background: linear-gradient(azure, goldenrod);
        opacity: 1;
    }
}